	body {
	
		background-size: cover;
		font-family: "Serif";
		font-style: oblique;
		background-color:#ffebd7;
		font-size: 30px;
		padding-top: 20px;
		color: black;
		background-opacity: .2;
}

p { 
color: black;
text-align: center;
  		padding-top: 40px;
 		padding-right: 40px;
  		padding-bottom: 40px;
  		padding-left: 40px;
  		font-size: 40px;
  		font-family: "Serif";
   		background-color: white;
   		opacity: 0.8;
    	position: relative;
    	border-style: dotted;
    	border-color: #61374b;
}

div.start_vitamenu {
text-align: center;
 }
 
 table.nutrition_table {
 border: 1px solid black;
 background-color: white;
 overflow:auto;
 opacity: 0.8;
 color: black;
 
 }
 
 th, td.whatever {
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 15px;
}
 
th {
    background-color: #63130C;
    color: white;
}

tr.whatever:hover {
background-color: #f5f5f5
}

tr.whatever:nth-child(even) {
background-color: #f2f2f2
}

a.url-name {color:#800040}

a.url-name:hover, a.url-name:active {
    color: #400040;
}